<section class="click">
    <h1 class="text-primary">{{title | uppercase}}</h1>
</section>
<section class="container border m-1">
    <section class="form-check">
        <section>
            <input class="form-check-input" type="checkbox" id="check" (click)="mostrar = !mostrar"
                (click)="ocultar = !ocultar" />
            <label for="check">Click aqui</label>
        </section>
        <i class="" *ngIf="mostrar">Activa el checkbox para mostrar el contenido</i>
    </section>
    <section *ngIf="ocultar" class="row">
        <article class="imagen col">
            <br />
            <article class="titulo">
                <h3 class="text-success">Data Binding</h3>
            </article>
            <img width="250px"
                src="https://dc722jrlp2zu8.cloudfront.net/media/uploads/2018/10/17/two_way_data_binding_angularjs.png" />
        </article>

        <article class="parrafo col">
            <p >
                <br />El Data Binding en AngularJS es la sincronización atuomática
                <br />de datos entre el modelo y la vista. La vista siempre muestra los
                datos que contiene el modelo. <br />
                Quiere decir que cuando el modelo cambia, la vista se actualiza.
                <br />Pero también la vista puede cambiar y AngularJS hará que el modelo
                <br />
                también sea actualizado.
            </p>
        </article>
    </section>
</section>

<section class="container border m-1">
    <form>
        <section>
            <h3 class="text-success">Two Way Binding</h3>
        </section>
        <article class="titulo">
            <textarea class="form-control border" name="nombre" [(ngModel)]="texto"></textarea>
        </article>
        <section>

            <p class="m-5">{{ texto }}</p>
        </section>
    </form>
</section>